<div class="container" *ngIf="post$ | async as post">
    <div class="card">
        <div class="card-header">
            <h2>{{post.title}}</h2>
            <strong>Автор: {{post.author}}</strong>
            <i>{{post.date | date: "medium"}}</i>
        </div>
        <div class="card-body">
            <quill-view-html [content]="post.text "></quill-view-html>
        </div>
    </div>

    <div class="row justify-content-end">
        <div class="col-3 text-end">
            <a mat-stroked-button routerLink="/">На главную</a>
        </div>
    </div>
</div>