quill-editor{
    display: inline-block; 
}
.container{
    margin-top: 20px;
}
h4{
    margin-bottom: 5px;
    font-weight: bold;
}
#titileInp{
    margin-bottom: 20px;
}
.createBtn{
    padding-bottom: 50px;
    margin-top: 20px;
}

#authInp{
    margin-top: 20px;
}
