<nav class="navbar navbar-dark bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand" routerLink="/">Blog</a>
        <div class="justify-content-end" 
        id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link inpBtn" [routerLink]="['/admin','login']" >Войти</a>
            </li>
          </ul>
        </div>
      </div>

</nav>
<div class="container">
    <router-outlet></router-outlet>
</div>
