<div class="container">
    <form class="card text-center" [formGroup]="form" (ngSubmit)="submit()">
        <h2>Войти в панель администратора</h2>
        <div class="d-flex justify-content-center">
            <div class="alert alert-danger" role="alert" *ngIf="error$ | async as error">
                {{error}}
            </div>
        </div>

        <div class="d-flex justify-content-center">
            <div class="alert alert-warning" role="alert" *ngIf="message && !(error$ | async)">
                {{message}}
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-10 text-start">
                <label for="validationServer01" class="form-label is-invalid">Email</label>
                <input type="text" class="form-control is-valid" id="validationServer01" formControlName="email"
                    [class.is-invalid]="form.get('email')!.touched && form.get('email')!.invalid"
                    [class.is-valid]="form.get('email')!.touched && form.get('email')!.valid">
                <div *ngIf="form.get('email')!.touched && form.get('email')!.invalid" class="invalid-feedback">
                    <p *ngIf="form.get('email')?.errors!['required']">Необходимо заполнить поле</p>
                    <p *ngIf="form.get('email')?.errors!['email']">Введен некорректный email</p>
                </div>
            </div>
        </div>
        <div class="row justify-content-center" id="passInp">
            <div class="col-10 text-start">
                <label for="validationServer02" class="form-label is-invalid">Пароль</label>
                <input type="text" class="form-control" id="validationServer02" formControlName="password"
                    [class.is-invalid]="form.get('password')!.touched && form.get('password')!.invalid"
                    [class.is-valid]="form.get('password')!.touched && form.get('password')!.valid">
                <div *ngIf="form.get('password')!.touched && form.get('password')!.invalid" class="invalid-feedback">
                    <p *ngIf="form.get('password')!.errors!['required']">Необходимо ввести пароль</p>
                    <p *ngIf="form.get('password')!.errors!['minlength']">Минимальная длина пароля
                        {{form.get("password")!.errors!.minlength.requiredLength}} символов</p>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-2">
                    <button mat-raised-button type="submit" id="signUpbtn" color="primary"
                        [disabled]="form.invalid">Войти</button>
                </div>
            </div>
        </div>
    </form>
</div>