.table{
    margin-top: 50px;
}
.mat-stroked-button{
    margin-left: 5px;
}
.opnbtn{
    margin-left: 5px;
}
.container-fluid{
    padding: 0;
}
a{
    color: red;
}
.container{
    margin-top: 20px;
}
h4{
    font-weight: bold;
}
.loadText{
    padding-left: 20px;
}
h2{
    margin: 0px;
}
