<app-alert></app-alert>
<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">Angular Admin</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav" *ngIf="isAuthenticated">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/admin','dashboard']">Главная</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/admin','create']">Создать</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="logOut($event)">Выйти</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>